@media only screen and (max-width:915px){
    .logo{
        width:120px;
    }
    .logopad{
        padding-left: 10px;
        padding-top: 10px;
    }
    .menu{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar{
        display:flex;
        padding-right: 0px;
    }
    .navbar a{
        text-decoration: none;
        color:white;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 20px;
    }
    .slide1{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right,rgb(20, 52, 164),rgb(100, 149, 237));
        padding-top: 0px;
        padding-bottom: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .lireinfos{
        background-color: darkred;
        box-align: center;
        text-align: center;
        border: solid crimson;
        width: 180px;
        margin-top: 10px;
        padding-top:10px;
        padding-bottom:10px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        color:white;
        font-size: 25px;
        text-decoration: none;
    }
    .couv{
        max-width: 300px;
        padding-top: 80px;
        padding-right:0px;
        filter:drop-shadow(30px -30px 4px rgba(0,0,0,0.2));
    }
    .s1 img{
        width:200px;
    }
    .s2 img{
        width:200px;
    }
    .s3 img{
        width:200px;
    }
    .s4 img{
        width:200px;
    }
    .s5 img{
        width:200px;
    }
    .s6 img{
        width:200px;
    }
    .s7 img{
        width:200px;
    }
    .s8 img{
        width:200px;
    }
    .s9 img{
        width:200px;
    }
    .s10 img{
        width:200px;
    }
    .s11 img{
        width:200px;
    }
    .s12 img{
        width:200px;
    }
    .s13 img{
        width:200px;
    }
    .s14 img{
        width:200px;
    }
    .s15 img{
        width:200px;
    }
    .s16 img{
        width:200px;
    }
    .s17 img{
        width:200px;
    }
    .s18 img{
        width:200px;
    }
    .s19 img{
        width:200px;
    }
    .s20 img{
        width:200px;
    }
    .s21 img{
        width:200px;
    }
    .s22 img{
        width:200px;
    }
    .s23 img{
        width:200px;
    }
    .s24 img{
        width:200px;
    }
    .s25 img{
        width:200px;
    }
    .sog img{
        width:200px;
    }
    .sev img{
        width:200px;
    }
    .sge img{
        width:200px;
    }
    .sac img{
        width:200px;
    }
    .ch img{
        width:200px;
    }
    .eps{
        text-align: center; 
        width: 100%; 
        color: white; 
        font-size: 9px; 
        border: white 1px solid;
    }
    .eps td{
        border: white 1px solid;
    }
    .eps img{
        max-width: 15px;
        padding-top:2px;
        padding-bottom: 2px;
    }
    .légende{
        margin-top: 20px;
        display:flex;
        flex-direction: column;
        font-size: 12px;
    }
    .légende p{
        padding-right: 50px;
    }
    .ball{
        max-width: 25px;
        padding-right: 10px;
    }
    .saison1{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison2{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison3{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison4{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison5{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison6{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison7{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison8{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison9{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison10{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison11{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison12{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison13{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison14{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison15{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison16{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison17{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison18{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison19{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison20{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison21{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison22{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison23{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison24{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saison25{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .chronicles{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saisonac{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saisonge{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saisonog{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .saisonev{
        padding-left:0px;
        padding-right:0px;
        padding-top:75px;
        padding-bottom:25px;
        margin-left:10px;
        margin-right:10px;
        display:none;
        justify-content: space-between;
        flex-direction: column;
    }
    .bilanep{
        padding-left: 0px;
        padding-right: 0px;
        padding-top:75px;
        padding-bottom:150px;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .aidenav{
        display:none;
    }
    .aidenav h1{
        font-weight: 100;
        font-size: 20px;
    }
    .lescycles{
        display:flex;
        background-color: darkslategrey;
        text-align: center;
        font-size: 15px;
        width: 100%;
        flex-direction: column;
        padding-bottom: 25px;
    }
    .cycle{
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .cycle a{
        color:white;
        text-decoration: none;
    }
    .linkto{
        text-decoration: none;
        color:white;
        background: #5a5858;
        border:none;
        font-family: "Futura", serif;
        font-size: 9px;
    }
    .eca .linkto{
        background: rgb(207, 165, 47);
    }
    .completed .linkto{
        background: green;
    }
    .cycleb{
        text-decoration: none;
        color:white;
        background: darkcyan;
        border:none;
        font-family: "Futura", serif;
        font-size: 16px;
    }
    .sep{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cycleb:hover{
        background: darkred;
    }
    .bilan{
        font-size: 10px;
    }
    .s1  {
         font-size: 10px;
    }
    .s2  {
         font-size: 10px;
    }
    .s3  {
         font-size: 10px;
    }
    .s4  {
         font-size: 10px;
    }
    .s5  {
         font-size: 10px;
    }
    .s6  {
         font-size: 10px;
    }
    .s7  {
         font-size: 10px;
    }
    .s8  {
         font-size: 10px;
    }
    .s9  {
         font-size: 10px;
    }
    .s10  {
         font-size: 10px;
    }
    .s11  {
         font-size: 10px;
    }
    .s12  {
         font-size: 10px;
    }
    .s13  {
         font-size: 10px;
    }
    .s14  {
         font-size: 10px;
    }
    .s15  {
         font-size: 10px;
    }
    .s16  {
         font-size: 10px;
    }
    .s17  {
         font-size: 10px;
    }
    .s18  {
         font-size: 10px;
    }
    .s19  {
         font-size: 10px;
    }
    .s20  {
         font-size: 10px;
    }
    .s21  {
         font-size: 10px;
    }
    .s22  {
         font-size: 10px;
    }
    .s23  {
         font-size: 10px;
    }
    .s24  {
         font-size: 10px;
    }
    .s25  {
         font-size: 10px;
    }
    .sog  {
         font-size: 10px;
    }
    .sev  {
         font-size: 10px;
    }
    .sge  {
         font-size: 10px;
    }
    .sac  {
         font-size: 10px;
    }
    .ch  {
         font-size: 10px;
    }
}